{% extends "mlb/base/base.html" %}
{% comment %}
セイバーメトリクスのページ
{% endcomment %}
{% comment %}タイトル（固定）{% endcomment %}
{% block title %}SABR - {{ APPLICATION_NAME }}{% endblock %}
{% comment %}コンテンツ用スクリプト{% endcomment %}
{% block body_script %}
    <link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.4.3.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="http://cdn.oesmith.co.uk/morris-0.4.3.min.js"></script>
{% endblock %}
{% comment %}検索Action名 {% endcomment %}
{% block search-action %}/{{ SUB_DOMAIN }}/sabr_search{% endblock %}
{% comment %}ナビゲーターのStatus（固定）{% endcomment %}
{% block navbar-sabr %}class="active"{% endblock %}
{% comment %}パンくず（動的）{% endcomment %}
{% block breadcrumb %}
<ol class="breadcrumb">
    <li><a href="/{{ SUB_DOMAIN }}/home/?{{ QUERY_KEY }}={{ query_name }}"><i class="fa fa-user"></i>{{ player.name }}</a></li>
    <li class="active"><i class="fa fa-laptop"></i> SABR</li>
</ol>
{% endblock %}
{% comment %}検索フォーム{% endcomment %}
{% block search_form %}
    <form role="search" method="post" action="/{{ SUB_DOMAIN }}/sabr_search/">
    {% include "mlb/base/search_form.html" %}
    </form>
{% endblock %}
{% comment %}選手名（動的）{% endcomment %}
{% block player_name %}<a href="{{ player.url }}" target="_blank">{{ player.name }}</a>{%  endblock %}
{% comment %}コンテンツひな形（固定）{% endcomment %}
{% block content %}
    {% ifequal pos PLAYER_BATTER %}
        {% include "mlb/content/sabr_batter.html" %}
    {% endifequal %}
    {% ifequal pos PLAYER_PITCHER %}
        {% include "mlb/content/sabr_pitcher.html" %}
    {% endifequal %}
{% endblock %}
{% comment %}
コンテンツデータ（動的）
{% endcomment %}
{% block data_content %}
    {% ifequal pos PLAYER_BATTER %}
        {% include "mlb/content/data/sabr_graph_batter.html" %}
    {% endifequal %}
    {% ifequal pos PLAYER_PITCHER %}
        {% include "mlb/content/data/sabr_graph_pitcher.html" %}
    {% endifequal %}
{% endblock %}

